

body{
    width: 70%;
    margin: auto;

}
h1{
    color:red;
     text-align: center;
}
h4{
    color:green;
    text-align: center ;
}
img{
    width: 600px;
    height:400px;
     display: block;
    margin: auto;
}
p{
    text-align:justify;
    margin: auto;
}



        

      
        
  
    